#contact {
    margin-top: 74px;

    .content {
        padding-top: 2em;

        .single-img {
            width: 200px;
            margin: 0 auto;
            &::after {
                content: '';
                position: absolute;
                left: 15px; top: 50px;
                width: 100%; height: 130px;
                background-color: #3eccb5;
                z-index: 0;
            }
            img {
                width: 100%;
                z-index: 1;
            }
        }

        .bord {
            text-align: center;
            letter-spacing: 1.6px;
            hr {
                width: 50px;
                border-bottom: none;
            }
            h3 {
                margin-top: 1.2em;
                margin-bottom: .6em;
            }
        }
    }
}
