#contact {
    margin-top: 64px;
    #map {
        margin: 3em auto 1em auto;
        .ol-overlaycontainer-stopevent {
            position: initial;
            top: 0;
        }
    }

    .content {
        width: 800px;
        margin: 0 auto;
        .single-img {
            width: 200px;
            margin: 0 auto;
            &::after {
                content: '';
                position: absolute;
                left: 15px; top: 50px;
                width: 100%; height: 130px;
                background-color: #3eccb5;
                z-index: 0;
            }
            img {
                width: 100%;
                z-index: 1;
            }
        }

        .bord {
            margin-bottom: 60px;
            letter-spacing: 1.6px;
            padding: 0;
            h3 {
                margin-top: 1.6em;
                margin-bottom: .3em;
                letter-spacing: 1.6px;
            }
            span {
                font-size: 18px;
                letter-spacing: 1.6px;
            }
        }
    }
}
