#equipment {
    margin-top: 64px;
    background: linear-gradient(135deg, #f5f7fa 0%, #d0d9e7 100%);
    overflow: hidden;
    .bg-text-emp {
        padding: 4em 0;
        background-color: #3eccb5;
        h1 {
            letter-spacing: 1px;
            text-align: center;
            margin: 0;
            font-weight: 300;
            color: #333;
        }
    }
    .content {
        padding-top: 1em;
        min-width: 320px;
        .detail {
            margin: 4em 0;
            min-width: 320px;
            width: 100%;

            .full-img {
                overflow: hidden;
                padding: 0;
                img {
                    width: calc(50% - 4px);
                    vertical-align: top;
                    margin: 1px;
                    padding: 0;
                }
            }

            ul {
                padding: 0 10px;
                hr {
                    border-bottom: none;
                    width: 50%;
                    margin: .5em 0 1em 0;
                    letter-spacing: 1.6px;
                    border-color: #333;
                }
                li {
                    list-style: none;
                    font-size: 18px;
                    letter-spacing: 1.6px;
                    line-height: 1.6em;
                    margin: 0.8em 0;
                    text-align: justify;
                }
                h2 {
                    margin: 0;
                    font-size: 28px;
                    letter-spacing: 1.6px;
                }
            }

        }

        h3 {
            margin: 0 auto;
            padding: 3em 0;
            width: 70%;

        }
    }

    @media (max-width: 750px){
        .detail {
            ul {
                h3 {
                    font-size: 18px !important
                }
                li {
                    margin: 12px 0 !important;
                    font-size: 16px !important;
                }
            }
        }
    }

}
