.big-picture {
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    .filter {
        width: 100%; height: 100%;
        position: absolute;
        background-color: rgba(#000000, 0.6);
        z-index: 2;
    }
    img {
        width: 100%;
        position: absolute;
    }
    h2 {
        position: absolute;
        z-index: 3;
        top: 50%;
        left: 50%;
        font-size: 36px;
        font-family: '思源黑體';
        color: #f7f7f7;
        letter-spacing: 1px;
        text-align: center;
        font-weight: 300;
        transform: translate(-50%, -50%);
    }
}

.about-us {
    font-family: 微軟正黑體;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    .content {
        padding-bottom: 3.5em;
        padding-top: 3em;
    }
    h1 {
        text-align: center;
        font-size: 48px;
        letter-spacing: 1px;
        font-weight: 500;
    }
    hr {
        width: 50px;
        border: none;
        border-bottom: solid 2px #333;
        margin: 0 auto;
    }
    p {
        text-align: justify;
        letter-spacing: 1.2px;
        line-height: 1.5em;
        margin-top: 1.6em;
        font-size: 21px;
    }
}

.importness {
    background: linear-gradient(-120deg, #a1c4fd 0%, #c2e9fb 100%);
    .content {
        height: 500px;
    }
}
