#Home {
    height: 100%;
    .big-picture {
        width: 100%;
        height: 100%;
        overflow: hidden;
        .filter {
            width: 100%; height: 100%;
            position: absolute;
            background-color: rgba(#000000, 0.5);
            z-index: 1;
        }
        img {
            width: 100%;
            position: absolute;
            z-index: 0;
        }
        .context {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            z-index: 2;
            color: #f7f7f7;
            letter-spacing: 1px;
        }
        h2 {
            font-size: 32px;
            font-weight: 300;
        }
    }

    .about-us {
        background: linear-gradient(135deg, #f5f7fa 0%, #d0d9e7 100%);
        .content {
            padding: 6em 3em 6em 3em;
            color: #333;
            h1 {
                text-align: center;
                font-size: 43px;
                letter-spacing: 1px;
                font-weight: 500;
                line-height: 1em;
                margin-top: 0;
                margin-bottom: .5em;
            }
            hr {
                width: 50px;
                border: none;
                border-bottom: solid 2px #333;
                margin: 0 auto;
            }
            p {
                width: 60%;
                max-width: 600px;
                text-align: justify;
                letter-spacing: 1.5px;
                line-height: 1.5em;
                margin: 1.6em auto 0 auto;
                font-size: 18px;
            }

            .center-picture {
                display: flex;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                margin-top: 6em;
                .sm-icon {
                    width: calc(25% - 20px);
                    margin: 0 20px;
                    text-align: center;
                    img {
                        width: 80%;
                        max-width: 150px;
                    }
                }
            }
        }
    }

    .news {
        background-image: url('../image/Wood-background-HD-pictures-7-41023_COLOR.png');
        background-position: bottom;
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            background: linear-gradient(90deg, rgba(#d2a353, 0.08) 0%, rgba(#9c9df6, 0.08) 120%);
        }
        h1 {
            z-index: 1;
            text-align: center;
            color: #f7f7f7;
            font-weight: 100;
            letter-spacing: 1.2px;
            margin-top: 76px;
        }
        .bord {
            z-index: 1;
            background-color: #e1e7f1;
            border-radius: 5px;
            margin-bottom: 100px;
            padding: 1em 0;
            box-shadow: 5px 5px 40px -5px #212121;
            ul {
                margin-bottom: 0;
                li {
                    font-size: 16px;
                    line-height: 1.6em;
                    letter-spacing: 1.2px;
                    a {
                        color: #333;
                        font-weight: 700;
                    }
                }
            }
        }
    }

    .importness {
        background: linear-gradient(-120deg, #accbee 0%, #d2dff1 100%);

        .content {
            padding: 3em 2em;

            .foreword {
                padding: 1em 0;
                margin-bottom: 3em;
                h1 {
                    font-size: 36px;
                    letter-spacing: 1.6px;
                    font-weight: 300;
                    margin: 0;
                    margin-bottom: .3em;
                    font-weight: 700;
                }
                p {
                    width: 70%;
                    text-align: justify;
                    letter-spacing: 1.6px;
                    line-height: 1.5em;
                    font-weight: 500;
                    font-size: 20px;
                }
                div {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    transform: rotateZ(-15deg);
                    width: 130px;

                    &:after {
                        content: '';
                        position: absolute;
                        width: 80%; height: 95%;
                        top: 10px; left: 23px;
                        border-radius: 15px;
                        background-color: #6faaec;
                        z-index: -1;
                    }
                }
            }

            .left-list {
                margin-bottom: 3em;
                h2 {
                    font-weight: 700;
                    font-size: 18px;
                    letter-spacing: 1.6px;
                    padding-left: .3em;
                    margin-bottom: 1.3em;
                    left: 4px;
                    max-width: 70%;
                    &::before {
                        content: '';
                        position: absolute;
                        height: 100%;
                        top: 0;
                        right: 100%;
                        border-left: solid 4px;
                        border-color: rgba(#3eccb5, 1);
                    }
                }

                .list-contain {
                    width: 70%;
                    border-radius: 5px;
                    border: solid 1px #a8a8a8;
                    padding: .5em;
                    background-color: rgba(#f7f7f7, .5);
                    p {
                        margin: 0;
                        text-align: justify;
                        letter-spacing: 1.6px;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 1.6em;
                    }
                }
            }

            .afterword {
                padding-top: 1em;
                h1 {
                    font-size: 30px;
                    text-align: center;
                }
                p {
                    width: calc(30px * 27);
                    margin: 0 auto;
                    text-align: justify;
                    font-size: 18px;
                    letter-spacing: 1px;
                    line-height: 1.6em;
                }
            }
        }

        .icon {
            z-index: 1;
            opacity: .8;
            position: absolute;
            img {
                width: 150px;
            }
        }

    }

    .sm-text {
        text-align: center;
        margin: 0;
        line-height: 0;
        letter-spacing: .8px;
        margin-bottom: 2em;
        font-size: calc(43px * 10 / 15);
    }

}
