#Promote {
    margin-top: 64px;
    height: 100%;
    background: linear-gradient(-120deg, #accbee 0%, #d2dff1 100%);
    .content {
        padding: 1em 8em;
        height: 100%;
        h1 {
            font-size: 34px;
            font-weight: 500;
            letter-spacing: 1px;
            margin-bottom: 1em;
            margin-top: 1.8em;
            color: #333;
        }
        .bord {
            width: 100%;
            min-width: 350px;
            background-color: rgba(247, 247, 247, 0.7);
            border: solid 1px rgba(#000000, 0.3);
            padding: 2em 5.5em;
            box-shadow: 5px 5px 40px -15px #333;

            ul {
                margin: 0;
                margin-bottom: 1em;
                padding: 0;
                li {
                    letter-spacing: 1.2px;
                    font-size: 18px;
                    line-height: 2.4em;
                    text-align: justify;
                    list-style-type: circle;

                }
            }
            hr {
                border-bottom: none;
                border-color: #333;
            }
            p {
                letter-spacing: 1.2px;
                font-size: 18px;
                line-height: 1.8em;
                text-align: justify;
            }
        }
    }
}
