html {
}
body {
    background: linear-gradient(-90deg, #accbee 0%, #d2dff1 100%);

}

.container {
    font-family: 微軟正黑體;
    margin-top: 100px;
    margin-bottom: 100px;

}
.bord {
    padding: 2em;
    min-width: 350px;
    background-color: rgba(247, 247, 247, 0.7);
    border: solid 1px rgba(#000000, 0.3);
    box-shadow: 5px 5px 40px -15px #333;
    letter-spacing: 1.6px;
}
h1 {

}
hr {
    border-color: #333 !important;
}
img {
    width: 100%;
    margin: 1.6em auto;
    text-align: center;
}
p {
    font-size: 16px;
}
